<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Backend Theme</h2>
		<h3 class="oe_slogan">Odoo Community Backend Theme</h3>
		<img src="logo.png" style="width: 150px;" class="mx-auto center-block">
		<div class="oe_demo oe_screenshot"
			style="max-width: 84%; margin: 16px 8%">
			<img src="screenshot.png">
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="text-justify" style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Overview</h3>
			<p class="oe_mt32">This module offers a mobile compatible design
				for Odoo Community. Furthermore it allows the
				user to define some design preferences. So he can choose the size of
				the sidebar and the position of the chatter. In addition, the
				background image of the app menu can be set for each company.</p>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="text-justify" style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Desktop Interface</h3>
			<div class="row">
				<div class="mb16 col-lg-6">
					<div class="oe_demo oe_screenshot">
						<img src="screenshot_apps.png">
					</div>
				</div>
				<div class="mb16 col-lg-6">
					<div class="oe_demo oe_screenshot">
						<img src="screenshot_chatter.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="text-justify" style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Mobile Interface</h3>
			<div class="row">
				<div class="mb16 col-md-4 col-lg-3">
					<div class="oe_demo oe_screenshot">
						<img src="screenshot_mobile_apps.png">
					</div>
				</div>
				<div class="mb16 col-md-4 col-lg-3">
					<div class="oe_demo oe_screenshot">
						<img src="screenshot_mobile_form.png">
					</div>
				</div>
				<div class="mb16 col-md-4 col-lg-3">
					<div class="oe_demo oe_screenshot">
						<img src="screenshot_mobile_menu.png">
					</div>
				</div>
				<div class="mb16 col-md-4 col-lg-3">
					<div class="oe_demo oe_screenshot">
						<img src="screenshot_mobile_kanban.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="text-justify" style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Fully Customizable</h3>
			<div class="row">
				<div class="mb16 col-lg-6">
					<div class="oe_demo oe_screenshot">
						<img src="screenshot_customize.png">
					</div>
				</div>
				<div class="mb16 col-lg-6">
					<div class="oe_demo oe_screenshot">
						<img src="screenshot_settings.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




