    <section class="oe_container oe_dark lead">
        <div class="oe_row" style="width: 100% !important;">
            <div class="oe_span12" style="width: 100% !important;">
            <div class="panel panel-primary" style="border:none">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <div class="alert alert-info" style="background-color:#ed2f2f;color:#FFF"><i class="fa fa-hand-o-right"></i> <strong> Key Features </strong></div>
                        <li><i class="fa fa-key" style="color:#ed2f2f"></i> This module is used for customized login page.</li>
                        <li><i class="fa fa-key" style="color:#ed2f2f"></i> User can select login form position and also select background color or image.</li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section class="oe_container oe_dark lead">
            <div class="oe_row" style="width: 100% !important;">
            <div class="oe_span12" style="width: 100% !important;">
                <div class="panel panel-primary" style="border:none">
                    <div class="panel-body">
                        <div class="alert alert-info" style="background-color:#ed2f2f;color:#FFF">
                            <i class="fa fa-hand-o-right"></i>
                            <strong>Settings</strong>
                        </div>
                        <p>
                            <h2 class="oe_slogan">General Settings</h2>
                            <p class="oe_slogan"><b>In this setting user can add Image to use as login background image.</b></p>
                            <img class="oe_picture oe_screenshot" src="menu.png" alt="" style="width: 82% !important;">
                        </p>
                        <p>
                            <h2 class="oe_slogan">Select Style</h2>
                            <p class="oe_slogan">Here user can select position of login form</p>
                            <img class="oe_picture oe_screenshot" src="style.png" alt="" style="width: 82% !important;">
                        </p>
                        <p>
                            <h2 class="oe_slogan">Select Background</h2>
                            <p class="oe_slogan">Here user can select image or color as login Background</p>
                            <img class="oe_picture oe_screenshot" src="select_background.png" alt="" style="width: 82% !important;">
                        </p>
                        <p>
                            <h2 class="oe_slogan">Select Image</h2>
                            <p class="oe_slogan">Here user can select Background image</p>
                            <img class="oe_picture oe_screenshot" src="select_image.png" alt="" style="width: 82% !important;">
                        </p>
                        <p>
                            <h2 class="oe_slogan">Left align login form with Background Image</h2>
                            <p class="oe_slogan"></p>
                            <img class="oe_picture oe_screenshot" src="left_login_view.png" alt="" style="width: 82% !important;">
                        </p>
                        <p>
                            <h2 class="oe_slogan">Right align login form with Background Image</h2>
                            <p class="oe_slogan"></p>
                            <img class="oe_picture oe_screenshot" src="right_login_view.png" alt="" style="width: 82% !important;">
                        </p>
                        <p>
                            <h2 class="oe_slogan">Select Color</h2>
                            <p class="oe_slogan">Here user can select Background color</p>
                            <img class="oe_picture oe_screenshot" src="select_color.png" alt="" style="width: 82% !important;">
                        </p>
                        <p>
                            <h2 class="oe_slogan">Center align login form with Background Color</h2>
                            <p class="oe_slogan"></p>
                            <img class="oe_picture oe_screenshot" src="middle_login_view.png" alt="" style="width: 82% !important;">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
