<div class="row" style="margin:75px 0;position: relative;color: #000;background-position: center;background: #ffffff;border-bottom: 1px solid #e4e4e4; padding-bottom: 30px;">
  <div class="col-md-7 col-sm-12 col-xs-12" style="padding: 0px">
    <div style=" margin: 0 0 0px;padding: 20px 0 10;font-size: 23px;line-height: 35px;font-weight: 400;color: #000;border-top: 1px solid rgba(255,255,255,0.1);border-bottom: 1px solid rgba(255,255,255,0.11);text-align: left;">
      <h1 style="font-size: 39px;font-weight: 600;margin: 0px !important;">ODOO DEBRANDING</h1>
      <h3 style="font-size: 21px;margin-top: 8px;position: relative;">Debrand Odoo Back-End + Front-End .</h3>
    </div>
    <h2 style="font-weight: 600;font-size: 1.8rem;margin-top: 15px;">Key Highlights</h2>
    <ul style=" padding: 0 1px; list-style: none; ">
      <li style="display: flex;align-items: center;padding: 8px 0;font-size: 18px;"><i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Modify database selector page</li>
      <li style="display: flex;align-items: center;padding: 8px 0;font-size: 18px;"><i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i> Modify login page </li>
      <li style="display: flex;align-items: center;padding: 8px 0;font-size: 18px;"><i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i> Remove 'About' in Configuration</li>
      <li style="display: flex;align-items: center;padding: 8px 0;font-size: 18px;"><i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i> Page title modification</li>
      <li style="display: flex;align-items: center;padding: 8px 0;font-size: 18px;"><i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i> Updated User dropdown List</li>
      <li style="display: flex;align-items: center;padding: 8px 0;font-size: 18px;"><i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i> Company Logo In POS</li>
    </ul>
    
  </div>
  <div class="col-md-5 col-sm-12 col-xs-12"> <img src="images/debranding_1.gif" class="img-responsive" alt=""> </div>
</div>
<div>

	
	

	
	
<section class="oe_container" style="padding: 1rem 0rem 1rem; background-color: #ffffff !important;">
  <div class="row py-4 px-3">
    <div class="w-100" style="padding-top:30px;padding-bottom:45px;border-radius: 10px;">
      <ul role="tablist" class="nav nav-pills justify-content-center" data-tabs="tabs" id="pills-tab" style="border: none;background: unset;">
		  
		<li class="nav-item mr-1 mb-3" style="font-size: 1.05rem;font-weight: 400;transition: all .15s ease;color: #d31c22;background-color: #d31c22;box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);border: 0;font-family: 'Open Sans',sans-serif;width: 140px;border-radius: 0.30rem;"> <a id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" class="nav-link active show" style="color: #000000;line-height: 33px;border: 0;border-radius: .25rem;font-weight: 400;text-align: center;
        color: #fff;">Overview </a> </li>  
        <li class="nav-item mr-1 mb-3" style="font-size: 1.05rem;font-weight: 400;transition: all .15s ease;color: #d31c22;background-color: #d31c22;box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);border: 0;font-family: 'Open Sans',sans-serif;width: 140px;border-radius: 0.30rem;"> <a id="pills-home-tab" data-toggle="pill" href="#pills-home1" role="tab" aria-controls="pills-home" aria-selected="true" class="nav-link " style="color: #000000;line-height: 33px;border: 0;border-radius: .25rem;font-weight: 400; text-align: center;
        color: #fff;" >Features </a> </li>
		  
        <li class="nav-item mr-1 mb-3" style="font-size: 1.05rem;font-weight: 400;transition: all .15s ease;color: #ffffff;background-color: #d31c22;box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);border: 0;font-family: 'Open Sans',sans-serif;width: 140px;border-radius: 0.30rem;"> <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" style="color: #000000;line-height: 33px;border: 0;border-radius: .25rem;font-weight: 400; text-align: center;
        color: #fff;">Screenshots </a> </li>
		  
<li class="nav-item mr-1 mb-3" style="font-size: 1.05rem;font-weight: 400;transition: all .15s ease;color: #ffffff;background-color: #d31c22;box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);border: 0;font-family: 'Open Sans',sans-serif;width: 140px;border-radius: 0.30rem;"> <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-profile" aria-selected="false" style="color: #000000;line-height: 33px;border: 0;border-radius: .25rem;font-weight: 400; text-align: center;-->
<!--        color: #fff;">Video </a> </li>  
       
      </ul>
		
		
      <div class="tab-content" id="pills-tabContent"
	   style="padding-top: 30px; padding-bottom: 30px; padding: 30px;">
        <div class="px-3 pt-1 tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="
                        pills-home-tab"> 
          <!-- Overview-->
          <h2 style="font-weight: 600;text-align: center;width: 100%;">Overview</h2>
          <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
          <h3 class="oe_slogan" style="text-align: center;font-size: 19px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 31px;font-weight: 400;letter-spacing: .5px;margin-bottom: 21px;">
           Odoo Debranding module  helps you to change the aesthetic look of Odoo software via customizing. The module helps you to remove all odoo reference from Front end and Back end.  </div>
		  
		  <div class="px-3 pt-1 tab-pane fade " id="pills-home1" role="tabpanel" aria-labelledby="
                        pills-home-tab"> 
          <!-- feature tab-->
	      <h2 style="font-weight: 600;text-align: center;width: 100%;">Odoo Debranding</h2>
          <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">		  
          <ul>
			  
            <p class="mb8" style="font-family: Roboto;color: #000;list-style-type: square;font-size: 19px;line-height: 50px; background-color: #3a34380d;padding-left: 20px;border-radius: 7px;list-style: none;">
			<i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Available in Odoo 14.0 community edition. </p>
			  
            <p class="mb8" style="font-family: Roboto;color: #000;list-style-type: square;font-size: 19px;line-height: 50px; background-color: #3a34380d;padding-left: 20px;border-radius: 7px;list-style: none;">
			<i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Modify database selector page. </p>
			  
            <p class="mb8" style="font-family: Roboto;color: #000;list-style-type: square;font-size: 19px;line-height: 50px; background-color: #3a34380d;padding-left: 20px;border-radius: 7px;list-style: none;">
			<i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i> Modify login page (Remove 'Powered by odoo'). </p>

            <p class="mb8" style="font-family: Roboto;color: #000;list-style-type: square;font-size: 19px;line-height: 50px; background-color: #3a34380d;padding-left: 20px;border-radius: 7px;list-style: none;">
              <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Page title modification (Remove Odoo from Title)</p>

            <p class="mb8" style="font-family: Roboto;color: #000;list-style-type: square;font-size: 19px;line-height: 50px; background-color: #3a34380d;padding-left: 20px;border-radius: 7px;list-style: none;">
              <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Updated User dropdown List (Remove 'Accounts and Documentation')</p>
            <p class="mb8" style="font-family: Roboto;color: #000;list-style-type: square;font-size: 19px;line-height: 50px; background-color: #3a34380d;padding-left: 20px;border-radius: 7px;list-style: none;">
              <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Remove About from Configuration menu.</p>

          </ul>
        </div>
		  
		  
        <!-- Screenshot tab-->
        <div class="px-3 tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" >
			
          <div class="tab-pane">
		  <h2 style="font-weight: 600;text-align: center;width: 100%;">Screenshots</h2>
          <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">	  
            <div>
              <section class="oe_container">
				  
	<div id="demo" class="row carousel slide  mb32" data-ride="carousel">			  
	 <div class="carousel-inner">
      <div class="carousel-item active" style="min-height: 0px;">
        <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16" style="float: left;">
		<h3 class="alert" style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;"> <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Company logo in login page.  </h3>
		  
          <div style=""> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="images/debranding-02.png"> </div>
          </div>
        
      </div>
		 
		 
      <div class="carousel-item" style="min-height: 0px;">
       <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16" style="float: left;"> 
		  <h3 class="mb32 alert" style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px; "> <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Powered by in the front-end is removed and default title is changed. </h3>
		  
          <div style=""> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="images/debranding-03.png"> </div>
          </div>
        
      </div>

 <div class="carousel-item" style="min-height: 0px;">
       <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16" style="float: left;">
		  
		   <h3 class="alert" style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0;font-size: 18px;"> <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Odoo accounts and documentation is removed from the dropdown list. </h3>
		   
          <div style="">
			  
			<img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="images/debranding-05.png"> </div>
          </div>
        
      </div>
      <div class="carousel-item" style="min-height: 0px;">
       <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16" style="float: left;">
		  
		   <h3 class="alert" style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0;font-size: 18px;"> <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Added company logo in pos</h3>
		   
          <div style="">
			  
			<img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="images/debranding-06.png"> </div>
          </div>
        
      </div>
		 
    </div>
		
		<a class="carousel-control-prev" href="#demo" data-slide="prev" style="left:-25px;width: 35px;color: #000;"> <span class="carousel-control-prev-icon"><i class="fa fa-chevron-left" style="font-size:24px"></i></span> </a> <a class="carousel-control-next" href="#demo" data-slide="next" style="right:-25px;width: 35px;color: #000;"> <span class="carousel-control-next-icon"><i class="fa fa-chevron-right" style="font-size:24px"></i></span> </a> </div>
		
		</section>
            </div>
          </div>
        </div>
	    
			
		<div class="px-3 pt-1 tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="
                        pills-home-tab"> 
          <!-- Video-->
          <h2 style="font-weight: 600;text-align: center;width: 100%;">Video</h2>
          <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
         <center><p>Odoo debranding Demo</p>
         <a href="https://www.youtube.com/watch?v=fYSPARjmYA4&feature=youtu.be" target="_blank"> <img src="images/odoo-debrand.png" style="width:80%;"></a>
				 
			 
	    </center>
         </div>	
			
			
        <!-- faq tab-->
        <div class="px-2 px-lg-4 pt-3 tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <ul class="list-unstyled">
            
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="oe_container" style="padding: 0% 0% 6% 0%;">
<center>
	<div class="col-md-12" style="margin: auto !important;
    width: 70%;
    padding: 30px;">
		<h2 style="font-weight: 600;text-align: center;width: 100%;">Need Any Help?</h2>
          <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">	
		
		<h4 style="font-size:16px;"> If you have anything to share with us based on your use of this module, please let us know. We are ready to offer our support. </h4>
		<div class="col-md-6" style="float:left; padding:20px;">
		<h4><i class="fa fa-envelope"></i>Email us </h4>
		<p>odoo@cybrosys.com  / info@cybrosys.com</p>
	
		</div>
		<div class="col-md-6" style="float:left; padding:20px;">
		<h4><i class="fa fa-phone"></i> Contact Us </h4>
		<a href="https://www.cybrosys.com/contact/" target="_blank"> www.cybrosys.com</a>
		</div>
		</div>
	
	</center>
	</section>
	
	
	<section class="oe_container" style="padding: 0% 0% 6% 0%;">
  <div class="oe_slogan" style="margin-bottom: 0px;">
    <div style=" display: flex; justify-content: center; flex-wrap: wrap; ">
		
		
		
		 
	  </div>
    <br>
    <img src="https://www.cybrosys.com/images/logo.png" style="width: 190px; margin-bottom: 25px;margin-top: 30px;" class="center-block">
    <div style=" display: flex; justify-content: center; flex-wrap: wrap; "> <a href="https://twitter.com/cybrosys" target="_blank"><i class="fa fa-2x fa-twitter" style="color:white;background: #00a0d1;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
      </td>
      <a href="https://www.linkedin.com/company/cybrosys-technologies-pvt-ltd" target="_blank"><i class="fa fa-2x fa-linkedin" style="color:white;background: #31a3d6;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
      </td>
      <a href="https://www.facebook.com/cybrosystechnologies" target="_blank"><i class="fa fa-2x fa-facebook" style="color:white;background: #3b5998;width:35px;  height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
      </td>
     
      <a href="https://in.pinterest.com/cybrosys" target="_blank"><i class="fa fa-2x fa-pinterest" style="color:white;background: #ac0f18;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
      </td>
    </div>
  </div>
</section>
</div>

